/* foter-section */
.foter-section{
    color: #111111;
    padding-top: 80px;
}
.foter-top{
    border-bottom: 1px solid #444;
    padding-bottom: 70px;
}
.foter-widget img{

    width: 130px;
margin-top: 20px;
margin-bottom: 22px;
}
.foter-widget p{
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
}
.widget-social ul{
display: flex;
}

.widget-social ul li a:hover{
    letter-spacing: 0 !important;
}
.widget-social ul li a{
padding: 0 10px;
}
.foter-widget h3{
    border-bottom: 1px solid #444;
    font-size: 17px;
    font-weight: 500;
    padding: 20px 0;
    margin-bottom: 20px;
    

}
.foter-widget ul{
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}
.foter-widget ul li{
    padding: 15px 0;
   padding-top: 0;
}

.foter-widget ul li a{
    text-decoration: none;
    color: #111111;
    font-size: 14px;
    font-weight: 400;
    transition: .6s;   
}
.foter-widget ul li a:hover{
    letter-spacing: 1.5px;
    color: #e73c3e;
}

.foter-contect-item span{

    display: block;
    font-size: 18px;
    margin-right: 24px;

}
.foter-contect-item .f-c-i-i{
    transform: rotate(-51deg);
    margin-right: 6px;
    margin-left: 20px;
}

.foter-contect-item ul li{
padding: 0;
padding-bottom: 8px;
}

.foter-contect-item ul li a{
    text-decoration: none;
    color: #111111;
    font-size: 15px;
    display: inline-block;
    display: block;
}
.foter-contect-item ul li a:hover{
    letter-spacing: 0;
}
.foter-bottom{
    background-color: #007eea;
}
.Copyright a{
    color: #fff;
  
    text-decoration: none;
    transition: .5s;
}
.Copyright a:hover{

    color: #fff;
   
}
.Copyright p{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    
}